<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>

    <title th:text="#{cart.title}">Inti Moda</title>
    <link th:href="@{/css/estiloCarrito.css}" rel="stylesheet"/>
    <div  th:insert="~{componentes :: head}"></div>

</head>

<body>
<!--Navbar-->
<div  th:replace="~{componentes :: navbar}"></div>
<!--Fin Navbar-->
<div class="container mt-5">
    <h2 class="mb-4" th:text="#{cart.your_cart}"><i class="bi bi-cart-fill me-2"></i>Tu Carrito de Compras</h2>
    <div class="table-responsive">
        <table class="table table-bordered align-middle text-center">
            <thead class="table-dark">
            <tr>
                <th th:text="#{cart.product}">Product</th>
                <th th:text="#{cart.price}">Price</th>
                <th th:text="#{cart.quantity}">Quantity</th>
                <th th:text="#{cart.subtotal}">Subtotal</th>
                <th th:text="#{cart.delete}">Delete</th>
            </tr>
            </thead>

            <tbody>


            </tbody>

        </table>
    </div>

    <div class="text-end">
        <a href="inicio.html" class="btn btn-secondary" th:text="#{cart.continue_shopping}">Continue Shopping</a>
        <a href="#" class="btn btn-success" th:text="#{cart.checkout}">Checkout</a>
    </div>
</div>

<!--Footer-->
<div  th:replace="~{componentes :: footer}"></div>
<!--Fin Footer-->

</body>
</html>
