<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="${#locale}">

<head>
    <title th:text="#{login.title}">Inti Moda</title>
    <div th:insert="componentes :: head"></div>


</head>

<body class="body-r">
<!--Navbar-->
<div th:replace="componentes :: navbar"></div>
<!--Fin Navbar-->
<div style="background-image: url('./img/login-fondo.jpg');background-repeat: no-repeat; background-size: cover;" class="p-5">
<div class="w-50 px-5 py-4 my-5 mx-auto bg-white rounded-4">
    <h5 class="mb-3" th:text="#{login.subtitle}">Inicia sesión para comprar</h5>

    <form class="needs-validation" th:action="@{/users/login}" method="post">
        <div class="mb-3">
            <label for="email" class="form-label" th:text="#{login.email}">Correo</label>
            <input type="email" class="form-control" id="email" th:placeholder="#{login.emailPlaceholder}" name="email" required>
            <div class="invalid-feedback" th:text="#{registro.correo.invalido}">Ingresa un correo válido.</div>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label" th:text="#{login.password}">Contraseña</label>
            <input type="password" class="form-control" id="password" th:placeholder="#{login.passwordPlaceholder}" name="password" required>
            <div class="invalid-feedback" th:text="#{registro.contrasena.invalida}">La contraseña no cumple con los
                requisitos.
            </div>
        </div>
        <!--error message-->
        <p th:if="${errorLogin}" th:text="#{login.errorLogin}" style="color: red;"></p>
        <!--success message-->
        <p th:if="${successLogin}" th:text="#{login.successLogin}" style="color: green;"></p>

        <button class="btn btn-dark w-100" type="submit" th:text="#{login.button}">Iniciar sesión</button>

        <div class="mt-3 text-center">
            <span th:text="#{login.register.text}">¿No tienes cuenta?</span>
            <a th:href="@{/registro}" th:text="#{login.register.link}">Regístrate</a>
        </div>
    </form>

</div>
</div>
<!--Footer-->
<div  th:replace="componentes :: footer"></div>
<!--Fin Footer-->
</body>
</html>
