<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title th:text="#{book.header}">Libro de Reclamaciones</title>
    <div  th:insert="~{componentes :: head}"></div>
</head>

<body class="bg-secondary">

<!--Navbar-->
<div  th:replace="~{componentes :: navbar}"></div>
<!--Fin Navbar-->

    <!-- Cabecera del Libro de Reclamaciones -->
    <div class=" border bg-light mb-5">
        <div class="container py-4">
            <div class="row align-items-center p-2">
                <div class="col-md-8">
                    <h1 th:text="#{book.header}">Libro de Reclamaciones</h1>
                    <p class="lead" th:text="#{book.disclaimer}">Conforme a lo establecido en el Código de Protección y
                        Defensa del Consumidor - Ley N°
                        29571</p>
                </div>
                <div class="col-md-4 text-md-end">
                    <img src="https://promart.vteximg.com.br/arquivos/icon-libro-reclamaciones.png"
                        alt="Libro de Reclamaciones" width="120">
                </div>
            </div>
        </div>
    </div>

    <!-- Formulario de Reclamaciones -->
    <div class="container ">
        <div class="p-5 mb-5 shadow rounded-3 bg-white">
            <form id="reclamacionForm" method="post" th:object="${reclamo}" th:action="@{/reclamos/guardar}">

                <!-- Sección 1: Datos del Establecimiento -->
                <div class="form-section">
                    <h3 class="section-title" th:text="#{book.provider}">1. Identificación del Proveedor</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <p th:utext="#{book.providerCompany}"><strong>Razón Social:</strong> Inti Moda S.A.C.</p>
                            <strong>RUC:</strong> 20501057682
                        </div>
                        <div class="col-md-6">
                            <p th:utext="#{book.providerAdress}"><strong>Dirección:</strong> Av. La Marina 2000, San
                                Miguel, Lima</p>
                        </div>
                    </div>
                </div>

                <hr class="bg-dark my-4 border-1 border-top opacity-50">
                <!-- Sección 2: Datos del Consumidor -->
                <div class="form-section">
                    <h3 class="section-title" th:text="#{book.consumer}">2. Identificación del Consumidor</h3>
                    <div class="row g-3">
                        <div class="col-md-6">
                            <label for="nombres" class="form-label required-field"
                                th:text="#{book.name}">Nombres</label>
                            <input type="text" class="form-control" id="nombres" name="nombres" required>
                        </div>
                        <div class="col-md-6">
                            <label for="apellidos" class="form-label required-field"
                                th:text="#{book.lastname}">Apellidos</label>
                            <input type="text" class="form-control" id="apellidos" name="apellidos" required>
                        </div>
                        <div class="col-md-6">
                            <label for="documento" class="form-label" th:text="#{book.documentType}">Tipo de
                                Documento</label>
                            <select class="form-select" id="documento" name="tipoDocumento">
                                <option value="dni" th:text="#{book.id}">DNI</option>
                                <option value="ce" th:text="#{book.foreingCard}">Carné de Extranjería</option>
                                <option value="pasaporte" th:text="#{book.passport}">Pasaporte</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="numDocumento" class="form-label required-field"
                                th:text="#{book.idNumber}">Número de Documento</label>
                            <input type="text" class="form-control" id="numDocumento" name="numDocumento" required>
                        </div>
                        <div class="col-md-6">
                            <label for="telefono" class="form-label required-field"
                                th:text="#{book.phone}">Teléfono</label>
                            <input type="tel" class="form-control" id="telefono" name="telefono" required>
                        </div>
                        <div class="col-md-6">
                            <label for="email" class="form-label required-field" th:text="#{book.email}">Correo
                                Electrónico</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="col-12">
                            <label for="direccion" class="form-label required-field"
                                th:text="#{book.adress}">Dirección</label>
                            <input type="text" class="form-control" id="direccion" name="direccion" required>
                        </div>
                    </div>
                </div>

                <hr class="bg-dark mt-5 border-1 border-top opacity-50">
                <!-- Sección 3: Detalles de la Reclamación -->
                <div class="form-section">
                    <h3 class="section-title" th:text="#{book.details}">3. Detalle de la Reclamación</h3>
                    <div class="row g-3">
                        <div class="col-12">
                            <label class="form-label required-field" th:text="#{book.typeComplain}">Tipo</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="tipoReclamo" id="reclamo"
                                    value="reclamo" checked>
                                <label class="form-check-label" for="reclamo"
                                    th:utext="#{book.complainOption1}">placeholder</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="tipoReclamo" id="queja"
                                    value="queja">
                                <label class="form-check-label" for="queja" th:utext="#{book.complainOption2}"></label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label for="pedido" class="form-label" th:text="#{book.numberBill}">N° de Pedido/Factura
                                (Opcional)</label>
                            <input type="text" class="form-control" id="pedido" name="numeroPedido">
                        </div>
                        <div class="col-md-6">
                            <label for="fechaCompra" class="form-label" th:text="#{book.datePurchase}">Fecha de Compra
                                (Opcional)</label>
                            <input type="date" class="form-control" id="fechaCompra" name="fechaCompra">
                        </div>

                        <div class="col-12">
                            <label for="productoServicio" class="form-label required-field"
                                th:text="#{book.product}">Producto/Servicio Reclamado</label>
                            <input type="text" class="form-control" id="productoServicio" name="productoServicio"
                                required>
                        </div>

                        <div class="col-12">
                            <label for="descripcion" class="form-label required-field"
                                th:text="#{book.description}">Descripción</label>
                            <textarea class="form-control" id="descripcion" name="descripcion" rows="5" required
                                placeholder="Describa con detalle el motivo de su reclamo o queja"
                                th:placeholder="#{book.descPlaceholder}"></textarea>
                        </div>
                    </div>
                </div>

                <hr class="bg-dark mt-5 border-1 border-top opacity-50">
                <!-- Sección 4: Acciones/Pedido del Consumidor -->
                <div class="form-section">
                    <h3 class="section-title" th:text="#{book.order}">4. Pedido del Consumidor</h3>
                    <div class="row g-3">
                        <div class="col-12">
                            <label for="pedidoConsumidor" class="form-label required-field"
                                th:text="#{book.questionAction}">¿Qué acción desea que realicemos?</label>
                            <textarea class="form-control" id="pedidoConsumidor" name="pedidoConsumidor" rows="5"
                                required placeholder="Por ejemplo: Cambio de producto, devolución del dinero, etc."
                                th:placeholder="#{book.actionPlaceholder}"></textarea>
                        </div>
                    </div>
                </div>

                <hr class="bg-dark mt-5 border-1 border-top opacity-50">
                <!-- Botones del Formulario -->
                <div class="mt-4 d-flex justify-content-between">
                    <button type="button" class="btn btn-secondary" onclick="window.history.back()"
                        th:text="#{book.cancel}">Cancelar</button>
                    <button type="submit" class="btn btn-inti" th:text="#{book.sendComplain}">Enviar
                        Reclamación</button>
                </div>

                <div class="mt-3">
                    <p class="text-muted small" th:text="#{book.disclaimer1}">* Los campos marcados son obligatorios.
                    </p>
                    <p class="text-muted small" th:text="#{book.disclaimer2}">
                        Recibirá una copia de esta reclamación al correo electrónico proporcionado y una respuesta en un
                        plazo máximo de 30 días calendario.
                    </p>
                </div>
            </form>

        </div>
    </div>

    <!-- Footer -->
    <div  th:replace="~{componentes :: footer}"></div>
    <!-- Fin Footer -->
</body>

</html>