<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title >Tabla usuarios</title>
    <div th:insert="~{componentes :: head}"></div>
    <style>
        th{
            border: 1px solid black;
        }
        td{
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <a th:href="@{/}">Inicio</a>
    <table class="text-center w-100">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Contrasena</th>
                <th>Email</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Telefono</th>
                <th>Rol</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.password}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.lastname}"></td>
                <td th:text="${user.phone}"></td>
                <td th:text="${user.role}"></td>
                <td>
                    <form th:action="@{'users/eliminar/' + ${user.id}}" method="post">
                        <button type="submit">Eliminar</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>