<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tabla reclamos</title>
    <div th:insert="~{componentes :: head}"></div>
    <style>
        th{
            border: 1px solid black;
        }
        td{
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <a th:href="@{/}">Inicio</a>
    <table class="text-center w-100">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Número Documento</th>
                <th>Teléfono</th>
                <th>Email</th>
                <th>Dirección</th>
                <th>Tipo Reclamo</th>
                <th>Número Pedido</th>
                <th>Fecha Compra</th>
                <th>Producto/Servicio</th>
                <th>Descripción</th>
                <th>Pedido del Consumidor</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="reclamo : ${reclamos}">
                <td th:text="${reclamo.id}"></td>
                <td th:text="${reclamo.nombres}"></td>
                <td th:text="${reclamo.apellidos}"></td>
                <td th:text="${reclamo.numeroDocumento}"></td>
                <td th:text="${reclamo.telefono}"></td>
                <td th:text="${reclamo.email}"></td>
                <td th:text="${reclamo.direccion}"></td>
                <td th:text="${reclamo.tipoReclamo}"></td>
                <td th:text="${reclamo.numeroPedido}"></td>
                <td th:text="${reclamo.fechaCompra}"></td>
                <td th:text="${reclamo.productoServicio}"></td>
                <td th:text="${reclamo.descripcion}"></td>
                <td th:text="${reclamo.pedidoConsumidor}"></td>
                <td>
                    <form th:action="@{'reclamos/eliminar/' + ${reclamo.id}}" method="post">
                        <button type="submit">Eliminar</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>